@font-face {
    font-family: myFirstFont;
    src: url(./socialico.ttf);
}
  
p.icons {
    font-family: myFirstFont;
    color: purple;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
p, h1, h2, h3, ul, a {
font-family: 'Open Sans', sans-serif;
}

.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  // font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
