@font-face {
    font-family: myFirstFont;
    src: url(./socialico.ttf);
}
  
p.icons {
    font-family: myFirstFont;
    color: purple;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
p {
font-family: 'Open Sans', sans-serif;
}
